@charset "UTF-8";
:root {
    --cacau: #191815;
}
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}
div#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
}
div#luz {
    width: 300px;/*250*/
    height: 380px;/*330*/
    background-color: var(--cacau);
    border-radius: 50%;
    border: 1px solid white;
    position: relative;
    bottom: 170%;
    right: 40%;
    transition-duration: 0.5s;
}
div#receptor {
    width: 160px;/*140*/
    height: 160px;/*140*/
    background-color: var(--cacau);
    margin: 240px auto 60px auto;
    border: 1px solid white;
    border-radius: 0% 0% 20% 20%;
}

tr,td,th {
    border: 1px solid black;
}
button.botoes {
    width: 100px;
    height: 50px;
    font-size: 23px;
    background-color: var(--cacau);
    color: white;
    transition-duration: 0.01s;
    margin-right: 10px;
}
button.botoes:active {
    background-color: white;
    color: black;
}

@media (max-width: 600px) {
    div#luz {
        width: 250px;
        height: 330px;
    }
    div#receptor {
        width: 140px;
        height: 140px;
    }
}